table, th, td {
    border: 1px solid rgb(173, 173, 173);
    border-collapse: collapse;
    cursor: pointer;    
    font-size: 15px;
    padding: 0px;
    
  }

 th{
    position: sticky;
    top: 0;
    border: 1px solid black;
    background: rgb(36, 30, 114);
    background-color: rgb(95, 71, 255);
    font-size: 14px;
    height: 4vh;
    padding: 5px;
    
    
 } 

tr{
  cursor: pointer; 
  transition: all .15s ease-in-out;
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 4vh;
  
}

.selected{
  background-color: rgb(155, 155, 155); font-weight: bold; color: #fff;
}

/* tr:hover{
    background-color:rgb(214, 214, 214);cursor: pointer;
} */

table.mytable tr:hover td {
    background-color: #5f5f5f;
    }


#table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:100%; /*was height:800px then 780px*/
    overflow:auto;  
    margin-top:20px;
    bottom: 0px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table * {
    /*background:rgb(255, 255, 255);*/
    color:black;
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid rgb(0, 0, 0);
  }

  .MyClass{

    background-color: #a1a1a1;
  }